---
layout: default
---
<div id="video">
    <video src="./assets/brandon.mp4" controls="controls" autoplay="autoplay"></video>
</div>
<header>
    <div class="logo-container">
        <div class="logo-small">
         {% include logo_small.svg %}
       </div>
       <div class="logo-big">
        {% include logo_big-01.svg %}
        </div>
    </div>
    <div class="video-link">
        <a href="https://www.youtube.com/watch?v=9p2bJ1fwbxU" id='showVideo' class="button">Watch the Video "</a>

    </div>
</header>

<main>
    <section class="intro">
        <h2>An elevated urban park built by the people of peckham</h2>
    </section>
    <div class='seperator'></div>
        <section class='findus'>
        <h3>Come find us</h3>
        <h2 class="distance">You are <span id="loc"></span>m away</h2>
    </section>

    <section class='news'>
        <h3>Latest News</h3>
        <h2><span class="date">02-04-2016</span><span class="title">Adams and sutherland pitch to peckham</span></h2>
        <h2><span class="date">11-07-2015</span><span class="title">The design feasability tender process</span></h2>
        <h2><span class="date">08-14-2015</span><span class="title">We hit our crowdfunding target - Thank you so much!</span></h2>
        <h2><span class="date">08-04-2015</span><span class="title">Looking for Collaborators</span></h2>
    </section>
    <section class="social">
        <h3>Say Hello</h3>
        <div class="links">
            <a href="https://twitter.com/PeckhamCoalLine">Twitter</a>
            <a href="https://www.facebook.com/peckhamcoalline/">Facebook</a>
            <a href="https://www.instagram.com/explore/tags/peckhamcoalline/">Instagram</a>
            <a href="http://peckhamcoalline.us10.list-manage1.com/subscribe?u=90a10d7f886aa84836ce72fde&id=8bf4a70c66">Newsletter</a>
            <a href="#1">Email</a>
        </div>
    </section>
</main>