<div class="logos">
    <img src="./assets/t-logo.png" alt="">
    <img src="./assets/es-logo.png" alt="">
    <img src="./assets/mof-logo.png" alt="">
    <img src="./assets/sc-logo.png" alt="">
    <img src="./assets/bbc-logo.png" alt="">
</div>
<p class="legal">
    The Peckham Coal Line is a registered charity number 1165247. © 2016 All rights reserved. Design by <a href="http://www.maxkoehler.com">Max Kohler</a>
</p>
<script src='{{ site.baseurl }}/js/move-logo.js'></script>
<script src='{{ site.baseurl }}/js/location.js'></script>